@font-face {
    font-family: MotoGPDisplay;
    src: url(fonts/MotoGPDisplay-Bold.woff) format("woff");
    font-weight: 700;  // Bold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: MotoGPTextBold;
    src: url(fonts/MotoGPText-Bold.woff) format("woff");
    font-weight: 400;  // Normal weight
    font-style: normal;
    font-display: swap;
}

body {
    background: url('https://images5.alphacoders.com/132/thumb-1920-1324585.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'MotoGPDisplay', Arial, sans-serif;  // Ensure this matches the @font-face definition
}

.content {
    background-color: rgba(0, 0, 0, 1.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

button {
    font-family: 'MotoGPTextBold', Arial, sans-serif; // Ensure this matches the @font-face definition
    background-color: #dc3545;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f10018;
    color: white;
}
